.navbar-custom {
  background-color: teal;
} 

.navbar li a {
  color: #000;
  text-decoration: none;
  background: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  cursor: pointer;
}

}
/* .col-md-8, .col-md-4{
  padding: 0 2em 0 2em;
} */

.row{
  width:100%;

}